/* Layout Geral */
body {
    margin: 0;
    padding: 0;
    background: url(../images/fundo_home2.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    
}

main {
    flex: 1;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.h2-person {
    text-align: center; 
    color: white ;
    background-color: black;
    box-shadow: 1px 1px 1px 1px;
    font-family: "Euclid Circular A";
}

.info-presenca {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    margin-top: 15px;
    
}

.info-item {
    font-size: 1.2em;
    background-color: black;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px;
    width: auto;
    text-align: center;
}
@media (min-width: 1200px) {
    .info-item {
        width: 500px; 
    }
}




.info-presenca p {
    font-size: 1.2em;
    margin: 0;
    font-family: "Euclid Circular A";
}



@media (max-width: 768px) {
    body {
        font-size: 3vw;
    }

    h2 {
        font-size: 5vw;
    }
}




@media (max-width: 992px) {
    /*  tablets */
    .form_academias, .chart-container {
        width: 100%;
        padding: 1em;
    }
}

/* Estilo para o contêiner principal */
.busca-academias {
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
}

/* Formulário de busca */
.form_academias {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2em;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.form_academias .form-control {
    font-size: 1rem;
    padding: 10px 12px;
    width: 100%; /* Responsivo */
    box-sizing: border-box;
}
/* Título */
.form_academias h2 {
    margin-bottom: 20px;
}

/* Formulário de busca */
.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
}




/* Estilo do botão de busca */
#searchButton {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
}
/* Estilo do input */


@media (min-width: 1200px) {
    .form_academias {
        max-width: 800px;
        width: 700px;
    }

    .form_academias .form-control {
        font-size: 1.1rem;
        padding: 12px 15px;
        width: 600px;
    }
}

.form_academias label {
    font-size: 1.2rem; /* Aumente o tamanho da fonte da label */
    margin-bottom: 8px; /* Adicione espaçamento abaixo da label */
    display: inline-block;
}

.bi.bi-search {
   padding-left: 2px;
}

.search-icon {
    position: absolute;
    right: 10px; 
    font-size: 1.2rem; 
    color: #333; 
    cursor: pointer; 
}



.input-group .form-control {
    flex: 1;
    padding: 10px;
    font-size: 1em;
}

.btn-primary {
    background-color: #0855E4;
    border-color: #0855E4;
    width: 100%;
    max-width: 300px;
    margin: 1em auto;
}

.btn-primary:hover {
    background-color: #063aa7;
    border-color: #063aa7;
}

@media (max-width: 768px) {
    .sobre-index {
        flex-direction: column;
        padding: 2em;
    }
    .mainLogin {
        background-position: center;
    }
}

/* Estilo das sugestões */
.suggestions-box {
    margin-top: 10px;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.suggestions-box div {
    padding: 10px;
    cursor: pointer;
    color: #333;
    background-color: rgb(161, 178, 216);
}

.suggestions-box div:hover {
    background-color: #f0f0f0;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}




/* Responsividade */
@media (max-width: 600px) {
    .input-wrapper {
        width: 100%;
    }
    
    .form-control {
        font-size: 0.9rem;
        padding-left: 30px;
    }

    #searchButton {
        width: 100%; 
    }

    .form_academias {
        max-width: 90%;
        padding: 15px;
    }
    .form_academias .form-control {
        font-size: 1rem;
        padding: 10px 12px;
    }
    .form_academias label {
        font-size: 1rem;
    }
}


/* Para telas menores, como celulares */
@media (max-width: 768px) {
   

    .input-group .form-control {
        font-size: 0.9em;
    }

    .btn-primary {
        width: 100%;
    }
    .form-group {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
    }

    .form-group label {
        margin-bottom: 8px; 
    }

    .input-wrapper {
        width: 100%; 
    }
}




@media (max-width: 480px) {
    .form_academias h2 {
        font-size: 1.2em;
    }

    .input-group .form-control {
        padding: 8px;
        font-size: 0.9em;
    }

    .btn-primary {
        font-size: 0.9em;
        padding: 10px;
    }
}



/* Para telas muito pequenas */
@media (max-width: 480px) {
    /* Ajuste a tipografia e margens para telas muito pequenas */
    .login h2 {
        font-size: 20px;
    }

    .login-form button {
        height: 40px;
        font-size: 14px;
    }

    .textbox input {
        height: 40px;
        font-size: 14px;
    }
}
/* Estilos gerais para o gráfico */
.chart-container {
    width: 100%;
    max-width: 1200px; /* Limita o máximo tamanho */
    margin: 2vw auto; /* Usa o viewport width para margem */
    background-color: rgba(58, 55, 55, 0.61);
}

/* Para telas grandes */
@media (min-width: 1200px) {
    .chart-container {
        width: 100%;
        max-width: 1200px; /* Tamanho máximo */
    }
}

/* Para telas médias */
@media (max-width: 992px) {
    .chart-container {
        width: 90%; /* O gráfico ocupa 90% da largura da tela */
    }
}

/* Para telas pequenas */
@media (max-width: 768px) {
    .chart-container {
        width: 100%;
        max-width: 700px; 
    }
}

/* Para telas muito pequenas */
@media (max-width: 480px) {
    .chart-container {
        width: 100%; 
        max-width: 350px;
    }
}
#favoriteButton i {
    color: red; 
  }

  #favoriteButton:hover {
    
  }
  
  .fas.fa-heart:hover{
    background-color: rgba(111, 173, 243, 0.911);
    padding: 5px;
  }

/* Tamanho específico para telas maiores */
@media (min-width: 1024px) {
    #presencaChart {
        width: 1000px;
        height: 600px;
    }
}

@media (max-width: 768px) {
    .chart-container {
        width: 90%;
        max-width: 700px;
    }
    
}


canvas {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
}



/* Texto e Vídeo */
.sobre-index {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 4em;
    width: 100%;
    max-width: 1200px; 
    gap: 2em; 
}

.sobre_texto {
    width: 50%; 
    font-family: "Euclid Circular A";
}

.sobre_texto p {
    padding: 1.5em;
    font-size: 18px; 
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    font-family: "Euclid Circular A";
    font-size: larger;
}

.sobre_texto span {
    display: block;
    background-color: #0855E4;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    margin-bottom: 1.5em;
    text-align: center;
}

.sobre_video {
    width: 45%; 
}

.sobre_video video {
    border-radius: 20px;
    max-width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

/* Responsividade */
@media (max-width: 768px) {
    .sobreIndex {
        flex-direction: column;
        align-items: center;
        padding: 2em;
    }

    .sobre_texto, .sobre_video {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .sobre_texto span {
        font-size: 22px;
    }

    .sobre_texto p {
        font-size: 16px;
    }
}

/* NavBar */
nav {
    background-color: #050512;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 72px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.navbar-container {
    display: flex;
    align-items: center; 
}

.navbar-logo {
    height: 50px; 
    margin-right: 20px; 
}

.navbar-burguer {
    width: 30px; 
    height: 30px; 
    background-image: url("../images/svg/menu.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    border: none; 
    cursor: pointer;
    background-color: transparent; 
    outline: none; 
}

/* Menu */
.navbar-menu {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    height: 100%;
    background: rgba(5, 5, 18, 0.9);
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s ease, visibility 0.5s ease; 
    border-radius: 10px; 
}

body.open .navbar-menu {
    opacity: 1; 
    visibility: visible;
}

.navbar-menu > a {
    color: #f9f9f9;
    font-size: 32px;
    font-family: "Euclid Circular A";
    text-decoration: none;
    margin: 10px 0;
    transition: color 0.3s;
}

.navbar-menu > a:hover {
    color: #0855E4; 
}

/* Botão para fechar o menu */
.close-menu {
    position: absolute; 
    top: 10px;
    right: 10px;
    background: none; 
    border: none; 
    color: white; 
    font-size: 24px; 
    cursor: pointer; 
}


/* FORMULARIO DE CADASTRO */



main form {
    position: relative;
    font-family: "Euclid Circular A";
    margin: 10px;
    width: 100%;
    text-align: center;
}

main > form > button{
    height: 50px;
    background-color: #020e1a;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

main > form >  a{
    height: 50px;
    background-color: #020e1a;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 16px;
    text-decoration: none;
}
 
  input::placeholder{
    color: white;
    font-family: "Euclid Circular A";
  }   

  .md-textbox {
    position: relative;
    font-family: "Euclid Circular A";
    margin: 10px;
    width: 100%;
    text-align: center;
}

.md-textbox > input {
    height: 60px;
    width: 40%;
    padding-left: 16px;
    border: 2px solid #888888;
    border-radius: 8px;
    outline: none;
    background: transparent;
    color: #f9f9f9;
    font-family: inherit;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.md-textbox :is(label, span) {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;
    color: #ffffff;
    transition: 0.3s ease;
}

.md-textbox > label {
    left: 20%;
    background: transparent;
    padding: 4px;
    font-size: 20px;
}


.md-textbox > span {
    right: 31%;
    font-size: 28px;
}

/* Efeito de placeholder: label dentro do input */
.md-textbox > :is(input:focus, .has-value) ~ label {
    background: #151515;
    color: rgba(255, 255, 255, 0.75);
    translate: 0 -120%;  
    font-size: 12px;   
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .md-textbox {
        margin: 10px 0;
    }

    .md-textbox > input {
        height: 50px;
        font-size: 14px;
    }

    .md-textbox > label {
        font-size: 16px;
        left: 8px;
    }

    .btn_main {
        padding: 20px;
        gap: 10px;
    }

    button {
        font-size: 14px;
        height: 45px;
    }

    h2 {
        font-size: 24px;
    }
}

/* Responsividade para telas muito pequenas, como smartphones */
@media (max-width: 480px) {
    .md-textbox > input {
        height: 45px;
        font-size: 12px;
    }

    .btn_main {
        padding: 10px;
        gap: 5px;
    }
    button {
        font-size: 12px;
        height: 40px;
    }

    .md-textbox > label {
        font-size: 16px;
       left: 5px;
    }

    h2 {
        font-size: 20px;
    }
}


.btn-disabled {
    opacity: 0.5; 
    cursor: not-allowed; 
    background-color: #ccc; 
    color: #666; 
    transition: all 0.3s ease; 
  }
  
 
  button:not(.btn-disabled) {
    opacity: 1; 
    cursor: pointer;
    background-color: #010911; 
    color: white; 
  }
  

.btn_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(253, 244, 244, 0.685);
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px; 
    
}

.btn_main:hover {
    background-color: #4c70dd;
  }

  
  
/* Estilos do card para diferentes tamanhos de tela */

/* Estilo para telas maiores */
@media (min-width: 769px) {
    .container-cd {
      width: 500px;
      height: 300px;
      transform: none; 
      transition: transform 0.2s ease; 
    }
  }
  
  /* Estilo para telas médias */
  @media (max-width: 768px) {
    .container-cd {
      width: 350px;
      height: 250px;
    }
  }
  
  /* Estilo para telas pequenas (mobile) */
  @media (max-width: 480px) {
    .container-cd {
      width: 300px;
      height: 200px;
    }
  }
  

/* Contêiner principal de login E CADASTRO PAGE */

.container-cd {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    margin-top: 5%;
    overflow: hidden; 
    
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/login2.jpeg");
    background-size: 110%;
    background-position: center;
    filter: blur(3px); 
    z-index: 1;
    transition: 0.5s;
}

.container-cd .content {
    position: relative;
    z-index: 2;
}

.cadastrar {
    z-index: 2;
    margin: 10px;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-family: "Euclid Circular A";
}

.cadastrar:hover {
    background-color: #025f9b;
    color: #fff;
}

.container-cd a {
    text-decoration: none;
}


.mainLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/svg/bgLogin.svg");
    background-size: cover;
    background-position: -100px 0;
    color: #f9f9f9;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    animation: gradient 10s infinite alternate linear;
}
@keyframes gradient {
    100% {
        background-size: 4000px 1000px;
    }
    0% {
        background-size: 4000px 1000px;
    }
    100% {
        background-size: 2000px 1000px;
    }
}


/* Formulário de login */
.login {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px;
   
}

/* Título do formulário */
.login > h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Euclid Circular A";
}

/* Campos de texto e botão */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* Estilização dos campos de texto e posicionamento dos ícones */
.textbox {
    position: relative; 
    width: 100%;
}


.textbox input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    padding-right: 40px; 
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Ícones dentro dos campos de texto */
.textbox i {
    position: absolute;
    right: 15px;
    bottom: 5px;
    transform: translateY(-50%); 
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    transition: color 0.3s ease;
}

/* Alteração de cor do ícone ao focar no campo */
.textbox input:focus + i {
    color: #157ae1; 
}

/* Foco no campo de texto */
.textbox input:focus {
    border-color: #157ae1;
    background-color: rgba(21, 122, 225, 0.1); 
}

/* Botão de login */
.login-form button {
    height: 50px;
    background-color: #157ae1;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-form button:hover {
    background-color: #0f63ba;
    transform: scale(1.05); 
}

/* Link "Esqueceu a senha?" */
.login-form a {
    color: #157ae1;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-form a:hover {
    color: #0f63ba;
}


  

/* Responsividade */
@media (max-width: 768px) {
    .login {
        max-width: 90%;
        padding: 20px;
    }

    .login > h2 {
        font-size: 24px;
    }

    .textbox input {
        height: 45px;
    }

    .login-form button {
        height: 45px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .login {
        max-width: 100%;
        padding: 15px;
    }

    .login > h2 {
        font-size: 20px;
    }

    .textbox input {
        height: 40px;
        font-size: 14px;
    }

    .login-form button {
        height: 40px;
        font-size: 14px;
    }
}

img, video {
    max-width: 100%;
    height: auto;
}



/* CONTATO PAGE */

.contato_b{
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.contato_main {
    display: flex;
    justify-content: center;
    padding: 3em 1em;
}

.contato_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    padding: 2em;
    gap: 2em;
}

.contatos_textos {
    flex: 1;
    min-width: 280px;
}

.contatos_textos h1 {
    font-size: 28px;
    color: #18f259;
    margin-bottom: 1em;
}

.contatos_textos h3 {
    font-size: 18px;
    margin-bottom: 1em;
    color: #555;
}

.contatos_textos p {
    font-size: 18px;
    margin: 0.5em 0;
    color: #333;
}

.input_reset {
    display: inline-block;
    background-color: #18f259;
    border: none;
    border-radius: 25px;
    color: #080606;
    font-size: 18px;
    font-weight: bold;
    padding: 0.8em 2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input_reset:hover {
    background-color: #0dc448;
}

.contatos_inputs {
    flex: 1;
    min-width: 280px;
}

.contatos_inputs input,
.contatos_inputs textarea {
    width: 100%;
    padding: 0.8em 1em;
    margin-bottom: 1em;
    font-size: 16px;
    border: 1px solid #070606;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.contatos_inputs input:focus,
.contatos_inputs textarea:focus {
    border-color: #18f259;
    outline: none;
    box-shadow: 0 2px 8px rgba(24, 242, 89, 0.2);
}

.contatos_inputs input::placeholder,
.contatos_inputs textarea::placeholder {
    color: #140d0d; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contatos_inputs textarea {
    resize: none;
    height: 150px;
}


/* Footer */

footer {
    background: linear-gradient(170deg, #0b2046, #0b0b41, #4f629e);
    color: #ffffff;
    padding-top: 20px ;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    height: 50%;
}


.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    max-width: 150px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 10px 0;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-social a {
    color: #ffffff; 
    font-size: 24px; 
    margin: 0 10px; 
    transition: color 0.3s; 
    
}

.footer-social a:hover {
    color: #0855E4;
}

.footer-bottom {
    padding: 10px 0;
    background-color: #000;
    color: #b0b0b0;
}


/* Footer geral */
.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px; 
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #b0b0b0;
}

article {
    position: absolute;
    bottom: 100px; 
    left: 48%;
    width: 93%;
    transform: translateX(-50%);
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 10px 50px 40px;
    margin: 0 30px;
    margin-bottom: 155px;
    border-radius: 10px;
    background: rgb(11,10,41);
    background: linear-gradient(90deg, rgba(11,10,41,1) 0%, rgba(40,40,135,1) 100%);
}

article h2 {
    font-weight: 400;
    color: rgb(255 255 255 / 70%);
}

article > button {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 10px 45px 0 40px;
    width: 13%;
    background: #0a1536;
    border: 0;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: inherit;
    font-size: 16px;
    margin-left: auto;
}

