* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #202124;
  font-family: "Poppins";
  color: #f9f9f9;
  display: flex;
  height: 100vh;
  overflow: hidden;
}


.titulo-bem-vindo {
  color: #181717;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.texto-instrucoes {
  color: #000000;
  font-size: 16px;
  margin-bottom: 20px;
}


.btn.objetivo-btn {
  font-size: 18px;
  padding: 12px 30px; 
  border: none;
  cursor: pointer;
  border-radius: 8px; 
  transition: all 0.3s ease;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px; 
}

.btn.objetivo-btn.emagrecer-btn {
  background-color: #4CAF50; 
  color: white;
}

.btn.objetivo-btn.engordar-btn {
  background-color: #FF5722; 
  color: white;
}

.objetivo-btn:hover {
  opacity: 0.8;
  transform: scale(1.05); 
}


.objetivo-btn:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);  
}



.titulo-dica {
  color: #1a1818;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}


.dica {
  background-color: rgba(255, 255, 255, 0.548);
  width: 80%;
  color: #0a0808;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
}


.sem-dica {
  color: #FF0000; 
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}



button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.user-logo {
  position: absolute;
  top: 20px;
  right: 20px; 
  z-index: 3; 
  width: 80px; 
  height: 80px;
}

@media (max-width: 768px) {
  .user-logo {
    width: 60px; /* Reduz o tamanho em telas menores */
    height: 60px;
    top: 10px; /* Ajusta o posicionamento */
    right: 10px;
  }
}

@media (max-width: 480px) {
  .user-logo {
    width: 40px; /* Reduz ainda mais para telas muito pequenas */
    height: 40px;
    top: 5px; /* Ajusta ainda mais o posicionamento */
    right: 5px;
  }
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

body.open .overlay {
  opacity: 1;
  visibility: visible;
}

.burger {
  position: fixed;
  z-index: 3;
  top: 20px;
  left: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}

.burger-avatar {
  width: 30px;
  height: 30px;
  transition: 0.4s;
}

body.open .burger-avatar {
  translate: 40px 0;
  opacity: 0;
  visibility: hidden;
}

.burger-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../../estilizacao/images/svg/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

body.open .burger-icon {
  background-image: url("../../../estilizacao/images/svg/icon-close.svg");
}

.sidebar {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  filter: blur(10px);
  transition-property: filter, visibility, opacity;
  transition-duration: 0.6s;
 
}

@media (width >= 330px) {
  .sidebar {
    transition-property: translate;
  }
}

@media (width >= 400px) {
  .sidebar {
    translate: -100% 0;
    width: 180px;
    transition: 0.4s;
    border-left: 1px solid rgba(255, 255, 255, 0.16);
  }
}

@media (width >= 500px) {
  .sidebar {
    translate: 0 0;

    opacity: 1;
    visibility: visible;
    filter: blur(0);
  }
}

body.open .sidebar {
  translate: 0 0;
  opacity: 1;
  visibility: visible;
  filter: blur(0);
}

.sidebar-avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.sidebar-username {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.96);
}

.sidebar-role {
  margin: 0 0 20px;
  font-size: 9px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.57);
}

.sidebar-menu {
  display: grid;
  width: 100%;
  padding: 10px 0;
  padding-left: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

@media (width >= 350px) {
  .sidebar-menu {
    padding-left: 0;
  }
}

.sidebar-menu > a > button {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1;
  padding: 10px 20px;
}

.sidebar-menu > a > button > img {
  width: 17px;
  height: 17px;
}

.sidebar-menu > a >  button > span {
  color: #f9f9f9;
  font-size: 11px;
  translate: 0 1px;
}

/* HOME PAGE USER */

/* Estilo para .boxbox e .box centralizados */
.boxbox {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  margin-left: 250px;
  box-sizing: border-box;
  z-index: 1;
}

.box_academias {
  background-color: rgba(177, 240, 231, 0.753);
  width: 90%; /* Reduz a largura para caber melhor */
  max-width: 1200px;
  height: 90%; /* Deixe a altura adaptar-se ao conteúdo */
  margin-top: 5%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

/* Centralização e estilo da box */
.box {
  background-color: rgba(155, 192, 230, 0.753);
  width: 90%;
  max-width: 1200px;
  height: 90%;
  margin-top: 5%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Garantir que o conteúdo da .box seja centralizado */
  overflow-y: auto;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .boxbox {
    justify-content: center;
    margin-left: 0;
    padding: 10px;
  }
  .box {
    width: 85%;
    height: auto;
    padding: 15px;
    max-width: 700px;
  }

  
}

@media (max-width: 480px) {
  .boxbox {
    margin-left: 0;
  }
  .box {
    width: 95%;
    padding: 10px;
    max-width: 600px;
  }
}

@media (max-width: 1200px) {
  .boxbox{
    overflow-y: auto; 
  }
}




/* Ajuste do título para tamanhos menores */
.list-container h2,
.home_h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

@media (max-width: 375px) {
  .home_h2,
  .list-container h2 {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .home_h2,
  .list-container h2 {
    font-size: 22px;
  }
}


/* Estilo para o container de listagem */


/* Centraliza .list-container em telas grandes */
.list-container {
  width: 80%; /* Define a largura da lista */
  max-width: 1200px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
  background-color: #1866da; /* Cor de fundo para contraste */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do título */
.list-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

/* Estilo para dispositivos menores, como iPhones, Galaxy e iPads */
@media (max-width: 768px) {

  .list-container {
    width: 95%; /* Maior ocupação de tela em dispositivos menores */
    padding: 15px;
  }
}

/* Ajustes para telas muito pequenas, como iPhone SE, Galaxy S8 e similares */
@media (max-width: 480px) {

  .list-container h2 {
    font-size: 20px;
  }
}

/* Para telas intermediárias, como iPhone 12 e Galaxy S20 */
@media (max-width: 425px) {
  .list-container h2 {
    font-size: 22px;
  }
}

/* Alinhamento para iniciar no lado esquerdo em telas pequenas */

.list-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}


/* Para tablets em paisagem e telas maiores */


.academia-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.academia-table tr{
  background-color: white;
}

.academia-table th,
.academia-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
  color: black;
}


.academia-table th {
  background-color: #eff3f7;
  color: #0f0808;
}

.academia-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Ajustes para dispositivos menores */
@media (max-width: 768px) {
  .academia-table th,
  .academia-table td {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  /* Estilo de tabela "card" para telas muito pequenas */
  .academia-table, .academia-table thead, .academia-table tbody, .academia-table th, .academia-table td, .academia-table tr {
    display: block;
    width: 100%;
  }
  
  /* Oculta o cabeçalho para telas pequenas */
  .academia-table thead {
    display: none;
  }

  /* Cada célula se torna um bloco completo */
  .academia-table tr {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }

  .academia-table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
  }

  /* Adiciona um título de cabeçalho na frente de cada célula */
  .academia-table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #fafafa;
    width: 50%;
    display: inline-block;
  }
}

/* PAGINA DE CONFIG USER / ATUALIZAR */ 

 form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  z-index: 1;
}


@media (max-width: 1200px) {
  .form-container {
      max-height: 90vh;
      overflow-y: auto; 
      
  }
}
@media (min-width: 1200px) {
 form {
  max-width: 900px; 
}
}

/* Para telas pequenas, como iPhone SE, Galaxy S8 e similares */
@media (max-width: 375px) {
form {
  width: 95%;
  padding: 15px;
  font-size: 14px;
}
}

/* Para telas intermediárias, como iPhone 12 e Galaxy S20 */
@media (max-width: 425px) {
form {
  width: 90%;
  padding: 20px;
}
}

/* Para tablets como iPad e Galaxy Tab */
@media (max-width: 768px) {
form {
  width: 85%;
  padding: 25px;
  max-width: 700px;
}
}

/* Para tablets em paisagem e telas maiores */
@media (min-width: 769px) and (max-width: 1024px) {
 form {
  width: 80%;
  padding: 30px;
  max-width: 800px;
}
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #1866da;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
  
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #0e0e0e;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo geral para a seção de favoritos */


.h2-person {
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  width: 65%;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.5em;
  font-family: "Euclid Circular A", sans-serif;
}

@media (min-width: 1024px) {
  .h2-person {
    margin-left: 110px; /* Margem aplicada apenas em telas grandes */
  }
}

.title_fav{
  color: black;
  text-align: center;
}
.favoritos-lista h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #FFF; /* Cor do título para garantir visibilidade */
}

.favoritos-container {
  display: flex; 
  flex-wrap: nowrap; 
  overflow-x: auto; 
  gap: 10px; 
  padding: 10px; 
}

.favorito-item {
  background-color: #f4f4f4; 
  padding: 8px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 12px;
  min-width: 200px; 
  max-width: 290px; 
  flex-shrink: 0; 
}


.favorito-item h3 {
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.favorito-item p {
  color: #555;
  font-size: 13px; 
}

.favorito-item form {
  margin-bottom: 5px; 
}

.favorito-item button {
  font-size: 12px; 
  margin-top: 8px; 
  padding: 5px 10px; 
}


@media (max-width: 480px) {
  .favoritos-container {
    display: block;
    overflow-x: hidden; 
  }

  .favorito-item {
    width: 100%; 
    max-width: none;
    margin-bottom: 15px; 
  }

  .favorito-item button {
    width: 100%; 
    padding: 6px 0; 
  }
}


.btn-danger {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #c9302c;
}

/* Estilo para informações de presença */
.info-presenca {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  color: #fff;
  margin-top: 1.5rem;
}

.info-item {
  flex: 1;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1200px) {
  .info-item {
    width: 300px;
  }
}

.info-presenca p {
  font-size: 1.2em;
  margin: 0;
  font-family: "Euclid Circular A";
}

/* Estilo para contêiner do gráfico */
.chart-container {
  width: 80%;
  max-width: 700px;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro para destacar */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}


/* Para telas grandes */
@media (min-width: 1200px) {
  .chart-container {
      width: 100%;
      max-width: 700px; /* Tamanho máximo */
  }
 
}
@media (max-width: 1200px) {
  .box {
    overflow-y: auto; 
  }
}

/* Responsividade para o contêiner do gráfico */
@media (max-width: 992px) {
  .chart-container {
      width: 90%; 
  }
  .form_academias, .chart-container {
    width: 100%;
    padding: 1em;
}
}
@media (max-width: 768px) {
  .chart-container {
      width: 100%;
      max-width: 700px; /* Ajusta o tamanho máximo */
      
  }
}

@media (max-width: 480px) {
  .chart-container {
      width: 100%; /* O gráfico ocupa 100% da largura da tela */
      max-width: 350px; /* Ajusta para telas menores */
  }
  
}

@media (max-width: 768px) {
  .chart-container {
    width: 95%;
    padding: 15px;
  }

  .info-item {
    font-size: 1rem;
  }

  .h2-person {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .chart-container {
    padding: 10px;
  }

  .info-item {
    font-size: 0.9rem;
  }

  .h2-person {
    font-size: 1em;
  }
}

#favoriteButton {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid red;
  color: red;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo do botão de favoritar */
#favoriteButton i {
  color: red; 
}

#favoriteButton:hover {
  background-color: red;
  color: white;
}

.favorite_form {
  background-color: transparent;
  box-shadow: none;
}
@media (min-width: 1024px) {
  .favorite_form {
    margin-left: 160px; /* Margem aplicada apenas em telas grandes */
    width: 300px;
  }
}



/* Ajustes para o gráfico em telas maiores */
@media (min-width: 1024px) {
  #presencaChartFavoritos {
    width: 1000px;
    height: 600px;
  }
}

/* Estilo do formulário de busca */
.busca-academias {
  max-width: 100%;
  margin: 20px auto;
  padding: 10px;
}

.form_academias {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1.5em; /* Reduz o padding */
  border-radius: 10px;
  width: 90%; /* Ajuste da largura relativa */
  max-width: 400px; /* Dimensão máxima */
  margin: 10px auto; /* Reduz a margem */
  color: #fff;
  text-align: center;
  height: auto; /* Ajuste automático da altura */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_academias h2{
  font-size: 20px;
}

@media (max-width: 768px) {
  .form_academias {
    width: 100%; /* Preencher a largura disponível */
    max-width: 90%; /* Ajustar melhor em dispositivos pequenos */
    padding: 1em; /* Reduzir o padding */
  }
}

@media (max-width: 992px) {
  /*  tablets */
  .form_academias, .chart-container {
      width: 100%;
      padding: 1em;
  }
}

.form_academias h2 {
  margin-bottom: 20px;
}

.form_academias .form-control {
  font-size: 1rem;
  padding: 10px 12px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .form_academias {
    max-width: 500px;
    width: 500px;
  }

  .form_academias .form-control {
    font-size: 1.1rem;
    padding: 12px 15px;
    width: 600px;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%; /* Pode ajustar para 50%, se necessário */
  margin-top: 1em; /* Espaçamento opcional */
}

@media (min-width: 1024px) {
  .input-wrapper {
    margin-left: 185px; /* Margem aplicada apenas em telas grandes */
  }
}


@media (max-width: 600px) {
  .input-wrapper {
      width: 100%;
  }
  
  .form-control {
      font-size: 0.9rem;
      padding-left: 30px;
  }

  #searchButton {
      width: 100%; 
  }

  .form_academias {
      max-width: 90%;
      padding: 15px;
  }
  .form_academias .form-control {
      font-size: 1rem;
      padding: 10px 12px;
  }
  .form_academias label {
      font-size: 1rem;
  }
}



@media (max-width: 480px) {
  .form_academias {
    width: 100%; /* O formulário ocupa toda a largura da box */
    padding: 0.8em; /* Menor espaço interno */
  }

  .input-group .form-control {
      padding: 8px;
      font-size: 0.9em;
  }

  .btn-primary {
      font-size: 0.9em;
      padding: 10px;
  }
}


@media (max-width: 768px) {
   
  .input-group .form-control {
      font-size: 0.9em;
  }

  .input-group {
    flex-direction: column; /* Empilha input e botão em telas menores */
  }
  .input-group .form-control,
  #searchButton {
    border-radius: 5px; /* Remove as bordas arredondadas laterais */
    width: 100%; /* Ocupa toda a largura */
    margin: 5px 0; /* Espaço entre input e botão */
  }

  .btn-primary {
      width: 100%;
  }
  .form-group {
      display: flex;
      flex-direction: column; 
      align-items: flex-start; 
  }

  .form-group label {
      margin-bottom: 8px; 
  }

  .input-wrapper {
      width: 100%; 
  }
}

.form_academias label {
  font-size: 1.2rem;
  margin-bottom: 8px;
  display: inline-block;
}

/* Estilo do input de busca */
.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px; /* Ajusta a largura máxima */
  margin: 20px auto; /* Centraliza na página */
  position: relative; /* Para ícones ou elementos relativos */
}

.input-group .form-control {
  flex: 1; /* Ocupa o espaço restante */
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px 0 0 5px; /* Bordas arredondadas no lado esquerdo */
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* Estilo do botão de busca */
#searchButton {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 0 5px 5px 0; /* Bordas arredondadas no lado direito */
  border: none;
  background-color: #0855E4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #063aa7;
}

/* Ícone de busca */
.bi.bi-search {
  padding-left: 2px;
}

.search-icon {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}
/* Estilo do botão primário */
.btn-primary {
  background-color: #0855E4;
  border-color: #0855E4;
  width: 100%;
  max-width: 300px;
  margin: 1em auto;
}

.btn-primary:hover {
  background-color: #063aa7;
  border-color: #063aa7;
}



@media (min-width: 1024px) {
  .form-group .suggestions-box{
    width: 60%;
    margin-left: 160px;
  }
}

.suggestions-box {
  margin-top: 10px;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  display: none;
}

.suggestions-box div {
  padding: 10px;
  cursor: pointer;
  color: #333;
  background-color: rgb(161, 178, 216);
}

.suggestions-box div:hover {
  background-color: #f0f0f0;
}


