
/* HOME */

body {
    margin: 0;
    padding: 0;
    background: url(img_acad/fundo_academia.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinha o conteúdo para começar no topo */
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #ffffff;
}

button {
    background-color: #6200ea;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px; /* Adiciona um espaço superior para separar do campo de texto */
}
button:hover {
    background-color: #3700b3;
}


/* NAVBAR */

#nav_acad {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    margin-bottom: 2vw; /* Espaço entre o título e o restante */
    text-align: center;
}

nav {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #e0e0e0;
    height: 10vh;
    
}

#navbar_logo{
    color: white;
    font-size: xx-large;
    
}

#nav-link{
    color: white;
margin-left: 20px;

}

.container-fluid a {
      text-decoration: none;
    font-size: 30px; 
    font-family: 'Teko', sans-serif;
    color: rgba(24, 8, 243, 0.856);
}

/* BARRA DE PESQUISA */

.form_academias {
    background-color: rgba(56, 51, 51, 0.25);
    width: 90%;
    max-width: 800px;
    color: white;
    border-radius: 20px;
    padding: 2vw;
    margin-bottom: 1vw; /* Reduz a margem inferior */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw; /* Adiciona um espaço uniforme entre os elementos do formulário */
}

/* GRAFICO DE PESSOAS */

.chart-container {
    width: 90%;
    max-width: 700px;
    margin: 1vw auto; /* Espaço superior reduzido */
}

#chart-container {
    margin-top: 0;
}

/* RODAPÉ  /  FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1vw;
}




.sobreIndex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4em;
    color: white;
}

.sobre_texto {
    width: 30%;
    color: white;
}

.sobre_texto p {
    padding-top: 2em;
    font-size: 20px;
    color: white;
}

.sobre_texto span {
    background-color: rgb(59, 177, 255);
    color: white;
    text-align: right;
    font-size: 25px;
}

.sobre_video video {
    border-radius: 20px;
    max-width: 720px;
}

.siga_nos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.siga_img {
    margin-left: 10em;
    margin-right: 10em;
}

.siga_img img {
    width: 400px;
    margin-bottom: 2em;
}

.siga_txt {
    width: 40%;
    margin-right: 8em;
    margin-bottom: 2em;
    text-align: left;
    font-size: 20px;
    color: white;
}

.siga_txt h3 {
    text-decoration: underline;
}
